body{
    
    background: rgb(181,151,29);
background: linear-gradient(90deg, rgba(181,151,29,1) 26%, rgba(227,238,28,1) 100%);
}
.content{
    width: 30%;
    min-width: 350px;
    position: absolute;
    top: 40%;
    left: 35%;
    background-color: rgb(21, 1, 16);
    align-content: center;
    height: 10%;
    min-height: 200px;
    translate: (-50%,-50%);
    border-radius: 20px;
}
#task{
    position: relative;
    padding: 25px 20px;
}
#task input{
    width: 80%;
    height:35px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: relative;
    border-radius: 5px;

}
#task button{
    position: relative;
    float: right;
    width: 17%;
    height: 40px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px ;
    background-color:rgb(241, 246, 88) ;
    cursor: pointer;
    color: rgb(9, 2, 29);
}
.dolist{
    background-color:rgb(232, 228, 100);
    height: auto;
    width: 95%;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: block;
    border-radius: 5px;
    align-items: center;
    justify-content:space-between;
    cursor: pointer;
    position: relative;
}
.task{
    background-color:rgb(17, 2, 2);
    height: 40px;
    width: 95%;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex; 
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    color: antiquewhite;
}
.task span{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    
}
.task button{
    background-color: rgb(238, 246, 126);
    /* background-color: linear-gradient(90deg, rgba(18,147,13,1) 6%, rgba(217,41,166,1) 100%);; */

    height: 100%;
    width: 20%;
    float: right;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 5px 5px;
    color: rgb(2, 11, 20);

}
h1{
    text-align: center; 
    size: 50px;
    padding:25px;
    color: rgb(25, 25, 29);
    font:bolder;
    color: wheat;
 
}
